<div id="application" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}" data-mediadbappid="$!mediaarchive.getMediaDbId()">
    #if ( $canviewerrors )
	<div id="errordiv"></div>
	#end
	<div id="emcontainer" style="background-color:#eee;">
	
		$pages.include("${themeprefix}/layouts/topmenu.html")
	
		<div id="emcontent" style="background-color:#eee;">
		  <div id="main">


##Look at the $hits and load up collection or category tab. Assets by default
		  
	  		<ul class="ui-tabs-nav nav pull-left emtabs" style="width:100%;" data-defaulttab=#if( $librarycol )"col$librarycol.getId()"#elseif( $orderitems )"basketcase"#else "mediatab"#end data-targetdiv="collection-tab-content" >
		  <li class="ui-corner-top "><a id="assetmodule" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/search/index.html" >[[Assets]]</a></li>
		  <li class="ui-corner-top "><a id="categorymodule" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/category/index.html" >[[Categories]]</a></li>
		  <li class="ui-corner-top "><a id="collectonmodule" data-layouts="2" data-alwaysreloadpage="true"   href="$apphome/views/modules/collections/index.html" >[[Collections]]</a></li>
	  </ul>

<div class="clearfix"></div>
		  
		  
		       $pages.includeContent()
		  </div>
		</div>
	
		<!-- begin: #footer -->
		<div id="footer" role="contentinfo">
	    	 $pages.include("${themeprefix}/layouts/footer.html")
	     	## $pages.include("${apphome}/components/uploadqueue/index.html")
		</div>
 
	</div>
</div>
